@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');


*::before,*::after,*{
  box-sizing: inherit;  
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 72px;
  color: #dee9ff;
}

h2 {
  font-size: 36px;
  color: #dee9ff;
  line-height: 45px;
  letter-spacing: 1.6px;
}

.padding-titles {
  padding-left: 172px;
  padding-top: 72px;
}

.background-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


.background-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#banner-one-two {
  position: relative;
}   

#banner-one {
  height:100vh;
  background-image: url("../img/cover.png");
  position: relative;
}   

#names-autors {
  color: #dee9ff;
  position: absolute;
  right: 3%;
  bottom: 9%;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 11px;
  line-height: 25px;
}

#circle {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-80%);
}

#banner-two {
  padding: 128px 0;
  background-image: url("../img/lines.png");
}

.container-banner-two {
    max-width: 60%;
    margin: 0 auto;
}

#brain {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

#info-banner-two {
    width: 50%;
}

#view {
 max-width: 100%;
}



#banner-three {
    height: 590px;
    background-image: url("../img/view.png");
}

#chip {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#banner-four {
    margin-top:  -171px;;
    position: relative;
 z-index: -1 !important;
}

#banner-five {
    height: 730px;
    background-image: url(../img/man.png);
    position: relative;
    margin-top: -190px;
    z-index: -2;
}

#banner-six {
  height: 454px;
  background-image: url(../img/general.png);
  position: relative;
}
