@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

*::before,
*::after,
* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 72px;
	color: #dee9ff;
	font-weight: 900;
}

h2 {
	font-size: 36px;
}

.dark-h2 {
	color: #dee9ff;
	line-height: 45px;
	letter-spacing: 1.6px;
}

h3 {
	color: #407298;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.center-text {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 3%;
}

.intros {
	color: #407298;
	line-height: 22px;
	letter-spacing: 0.71px;
	font-weight: 400;
}

.padding-titles {
	padding-left: 172px;
	padding-top: 72px;
}

.background-top {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.background-center {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#banner-one-two {
	position: relative;
}

#pinContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#banner-one {
	height: 100vh;
	background-image: url("../img/cover.png");
	position: relative;
}

.banner#banner-one {
	margin-bottom: 400px;
}

#names-autors-giro {
	writing-mode: vertical-rl;
	position: absolute;
	right: 3%;
	bottom: 9%;
}

.names-autors {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 10px;
	line-height: 25px;
	text-align: center;
}

#circle {
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -80%);
	z-index: 1;
}

#brain {
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -12%);
	z-index: 1;
	animation: zoomIn;
	animation-duration: 2s;
}

#banner-two {
	padding: 128px 0;
	background-image: url("../img/lines.svg");
	background-color: #ffffff;
}

.container-banner-two {
	max-width: 60%;
	margin: 0 auto;
}

.info-banner-two {
	width: 50%;
}

#view {
	max-width: 100%;
}

#banner-three {
	height: 590px;
	background-image: url("../img/view.png");
	z-index: 1;
}

.respira {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 100px;
	color: #797979;
	opacity: 0.4;
	text-align: center;
	font-weight: 600;
}

.title-chip {
	position: absolute;
	color: #ffffff;
	left: 50%;
	transform: translateX(-50%);
	width: 170px;
	text-align: center;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.62px;
}

#chip {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: -173px;
}

#banner-four {
	height: 470px;
	background-color: transparent;
	z-index: -1 !important;
}

#banner-five {
	height: 730px;
	background-image: url(../img/man.png);
	margin-top: -135px;
	z-index: -2;
}

#banner-six {
	height: 454px;
	background-image: url(../img/general.png);
}

#banner-eight {
	height: 100px;
}

#banner-nine {
  height: 100vh;
  background-image: url(../img/people.png);
  margin-top: -5%;
  margin-bottom: 10px;
}

#banner-map {
  background-image: url(../img/mapa.svg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}

.info-form {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.71px;
}

#container-form {
	background: #ffffff;
	height: 599px;
  width: 598px;
  position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
  box-shadow: 0px 15px 20px -9px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -80%);
}

#title-form {
	margin-top: 25px;
	margin-bottom: 44px;
	font-size: 36px;
	font-weight: 900;
}

input {
	border: 1px solid;
	border-radius: 6px;
	height: 52px;
	width: 386px;
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 22px;
	padding: 0px 10px;
}

button {
	width: 386px;
	height: 52px;
	cursor: pointer;
	background: #000000;
	color: #ffffff;
	border: 0px;
	border-radius: 6px;
}

#footer {
	background-color: #000000;
	height: 350px;
}

.branding-position {
	padding-top: 11%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#end-names {
	margin-top: 25px;
}

.animate__animated.animate__slideInLeft {
	--animate-duration: 2s;
}

.img-size {
	width: 386px;
	height: 386px;
}


.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
	width: 45%;
	margin: 50px auto;
	display: flex;
	display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 5px;
}

 

.container{
  /*background-color: darkgray;*/
  width: 80%;
  font-size: 30px;
  margin: auto;
 /*  border-radius: 30px;
  border-style: groove; */
}

.textWrapper{
  width: 45%;
  margin: 20px;
  padding-top: 25vh;
  padding-bottom: 25vh;
  display: flex;
}
.textIntro{
  width: 45%;
  margin: auto;
  padding-top: 25vh;
  padding-bottom: 25vh;
  font-size: 20px;
}
.stickyImage{
  width: 39%;
  height: 100%;
  position: absolute;
  font-size: 100px;
  /*background-color: greenyellow;*/
  padding-top: 40vh;
}


.parallax{
  background: #ffffff;
}

