@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');


*::before,*::after,*{
  box-sizing: inherit;  
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 72px;
  color: #dee9ff;
  font-weight: 900;
}

h2 {
  font-size: 36px;
}

.dark-h2 {
  color: #dee9ff;
  line-height: 45px;
  letter-spacing: 1.6px;
}

h3 {
  color: #407298;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.center-text {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

.intros {
  color: #407298;
  line-height: 22px;
  letter-spacing: 0.71px;
  font-weight: 400;
}


.padding-titles {
  padding-left: 172px;
  padding-top: 72px;
}

.background-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


.background-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#banner-one-two {
  position: relative;
}   

#banner-one {
  height:100vh;
  background-image: url("../img/cover.png");
  position: relative;
}   


#names-autors-giro {
  writing-mode: vertical-rl;
  position: absolute;
  right: 3%;
  bottom: 9%;
}

.names-autors {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
}

#circle {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-80%);
  z-index: 1;
}

#banner-two {
  padding: 128px 0;
  background-image: url("../img/lines.svg");
}

.container-banner-two {
    max-width: 60%;
    margin: 0 auto;
}

#brain {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: zoomIn; 
    animation-duration: 2s; 
}

#info-banner-two {
    width: 50%;
}

#view {
 max-width: 100%;
}



#banner-three {
    height: 590px;
    background-image: url("../img/view.png");
}

#chip {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#banner-four {
    margin-top:  -171px;;
    position: relative;
 z-index: -1 !important;
}

#banner-five {
    height: 730px;
    background-image: url(../img/man.png);
    position: relative;
    margin-top: -190px;
    z-index: -2;
}

#banner-six {
  height: 454px;
  background-image: url(../img/general.png);
  position: relative;
}

#banner-seven {
  height: 1100px;
}

#map {
  display: block;
  margin: 0 auto;
}

.info-form {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.71px;
}

#container-form {
  background: #ffffff;
  height: 599px;
  width: 598px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 15px 20px -9px rgba(0, 0, 0, 0.3);
}

#title-form {
  margin-top: 25px;
  margin-bottom: 44px;
  font-size: 36px;
  font-weight: 900;
}


input {
  border: 1px solid;
  border-radius: 6px;
  height: 52px;
  width: 386px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  padding: 0px 10px;
}

button {
  width: 386px;
  height: 52px;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border: 0px;
  border-radius: 6px;
}

#footer {
  background-color: #000000;
  height: 350px;
}

.branding-position {
  padding-top: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#end-names {
 margin-top: 25px;
}


.animate__animated.animate__slideInLeft {
  --animate-duration: 2s;
}